@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #9a4b7b;
    --primary-color-dark: #782a59;
    --text-dark: #333333;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav_header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav__logo a img {
    max-width: 100px;
}

.nav__logo .logo-dark {
    display: none;
}

.nav__menu__btn {
    font-size: 1.5rem;
    color: rgb(239, 239, 235);
    cursor: pointer;
}

.nav__links {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;

    /* quando ta escondido*/
    transform: translateY(100%);
}
   /* quando aparece */
.nav__links.open {
    transform: translateY(0);
}

.nav__links  a {
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
}




